<!DOCTYPE html>
<title>TODO:Вход</title>
{{ include style }}

<div class="container top3em">
	<h2>TODO</h2>
	<h3>Вход</h3>
	<form method=post action=login>
		<div style="text-align:center;">
			<div class=warning><i>{{ warning }}</i></div>
			<p><span class=login>Имя:</span> <input type=text name=name value="{{ name }}"></p>
			<p><span class=login>Пароль:</span> <input type=password name=password></p>
			<hr>
			<p><input type=submit value=Войти></p>
			<p class=register><a href=register>Зарегистрироваться</a></p>
		</div>
	</form>
	<hr>
</div>
{{ include bottom }}
