<!DOCTYPE html>
<title>TODO:Регистрация</title>
{{ include style }}

<div class="container top3em">
	<h2>TODO</h2>
	<h3>Регистрация</h3>
	<form method=post action=register>
		<div style="text-align:center;">
			<div class=warning><i>{{ warning }}</i></div>
			<p><span class=login>Имя:</span> <input type=text name=name></p>
			<p><span class=login>Пароль:</span> <input type=password name=password></p>
			<hr>
			<p><input type=submit value=Зарегистрироваться></p>
			<p class=register><a href=login>Войти</a></p>
		</div>
	</form>
	<hr>
</div>
{{ include bottom }}
